a {
    font-size: 20px;
    font-family:Algerian;
    color: white;
    padding-left:15%;
    text-decoration:none;
    }
    
        
        a:hover {
            color:yellow;
            text-decoration:none;
            }
        body{background-color: black;}

        p{color: yellow;
        font-size:20px;
    font-family:noto serif Light;}
    
    body{
        cursor: url('../../curseur.png'), pointer;}

        a{cursor: url('../../curseur.png'), pointer;}

        h1::selection{background: rgb(253, 81, 81);}
    a::selection{background: rgb(253, 81, 81);}
    h3::selection{background: rgb(253, 81, 81);}
    img::selection{background: rgb(253, 81, 81);}
    p::selection{background: rgb(253, 81, 81);}